{% extends 'base.html' %}


{% block content %}
<h1>Expenses List</h2>

<ul class="list-group">
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>
<li class="list-group-item">Bought Beer</li>


</ul>

{% endblock content %}
