{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Set your new password</h4>
        </div>
        <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}

          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
          </div>

             <div class="form-group">
            <input
              type="password"
              name="password2"
              placeholder="Confirm Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
          </div>


          <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
        </form>
  <div class="container">
  <span class="text-lead lead">Have an account? </span/><a href="{% url 'login' %}">Login</a><br>
      <span class="text-lead lead">No account? </span/><a href="{% url 'register' %}">Register Here</a>


    </div>
      </div>



      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
